.fade-in-words{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
/*自定义一个透明度从0到1的动画，它的名称是fade-in*/
@keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
.exp_first{
    opacity: 0;
    animation: fade-in 4s ease 0s 1;
    -webkit-animation: fade-in 4s ease 0s 1;
    -moz-animation: fade-in 4s ease 0s 1;
    -o-animation: fade-in 4s ease 0s 1;
    -ms-animation: fade-in 4s ease 0s 1;

    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_two{
    opacity: 0;
    animation: fade-in 4s ease 1s 1;
    -webkit-animation: fade-in 4s ease 1s 1;
    -moz-animation: fade-in 4s ease 1s 1;
    -o-animation: fade-in 4s ease 1s 1;
    -ms-animation: fade-in 4s ease 1s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_three{
    opacity: 0;
    animation: fade-in 4s ease 2s 1;
    -webkit-animation: fade-in 4s ease 2s 1;
    -moz-animation: fade-in 4s ease 2s 1;
    -o-animation: fade-in 4s ease 2s 1;
    -ms-animation: fade-in 4s ease 2s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_four{
    opacity: 0;
    animation: fade-in 4s ease 3s 1;
    -webkit-animation: fade-in 4s ease 3s 1;
    -moz-animation: fade-in 4s ease 3s 1;
    -o-animation: fade-in 4s ease 3s 1;
    -ms-animation: fade-in 4s ease 3s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_five{
    opacity: 0;
    animation: fade-in 4s ease 4s 1;
    -webkit-animation: fade-in 4s ease 4s 1;
    -moz-animation: fade-in 4s ease 4s 1;
    -o-animation: fade-in 4s ease 4s 1;
    -ms-animation: fade-in 4s ease 4s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_six{
    opacity: 0;
    animation: fade-in 4s ease 5s 1;
    -webkit-animation: fade-in 4s ease 5s 1;
    -moz-animation: fade-in 4s ease 5s 1;
    -o-animation: fade-in 4s ease 5s 1;
    -ms-animation: fade-in 4s ease 5s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.exp_seven{
    opacity: 0;
    animation: fade-in 4s ease 6s 1;
    -webkit-animation: fade-in 4s ease 6s 1;
    -moz-animation: fade-in 4s ease 610s 1;
    -o-animation: fade-in 4s ease 6s 1;
    -ms-animation: fade-in 4s ease 6s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.exp_eight{
    opacity: 0;
    animation: fade-in 4s ease 7s 1;
    -webkit-animation: fade-in 4s ease 7s 1;
    -moz-animation: fade-in 4s ease 7s 1;
    -o-animation: fade-in 4s ease 7s 1;
    -ms-animation: fade-in 4s ease 7s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.exp_nine{
    opacity: 0;
    animation: fade-in 4s ease 8s 1;
    -webkit-animation: fade-in 4s ease 8s 1;
    -moz-animation: fade-in 4s ease 8s 1;
    -o-animation: fade-in 4s ease 8s 1;
    -ms-animation: fade-in 4s ease 8s 1;


    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}