.section_2 {
  background: linear-gradient(#282a39, #ff0000);
  position: relative;
}
.section_2 .box_two {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 350px;
  border: 1px solid greenyellow;
}
.section_2 .box_two h3 {
  width: 100px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: normal;
  color: papayawhip;
  margin-bottom: 30px;
}
.section_2 .box_two .expertise {
  width: 400px;
  margin: 0 auto;
  display: block;
}
.section_2 .box_two .expertise a {
  display: inline-block;
  height: 30px;
  background-color: #333649;
  margin: 5px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
  border: none;
  opacity: 0;
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
}
